body{
    background-color:#f5f5f5;
    font-family:sans-serif;
    margin:40px;
}

h3{
    text-align:center;
    font-size:32px;
    margin-bottom:40px;
}

.faculty-container{
    display:flex;
    justify-content:center;
    gap:30px;
    align-items:flex-start;
}

.department-links{
    background:white;
    width:300px;
    padding:20px;

    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.faculty-title{
    display:block;
    text-align:center;

    font-size:24px;
    font-weight:bold;

    margin-bottom:15px;

    text-decoration:none;
}

.dept{
    text-decoration:none;
    display:block;
    margin-bottom:10px;
}
.faculty-container{
    display:flex;
    justify-content:center;
    gap:30px;
    align-items:flex-start;

    border:3px solid blue;
}

.title-area{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}

.えこぴょん{
    width:150px;
    height:auto;
}

h3{
    background-color:#f58220;
    color:white;

    padding:10px;
    margin:0;

    flex:1;

    text-align:center;
}